[Unit]
Description=Process error reports when automatic reporting is enabled
ConditionPathExists=/var/lib/apport/autoreport
Wants=whoopsie.path
After=whoopsie.path

[Service]
Type=oneshot
ExecStart=/usr/share/apport/whoopsie-upload-all --timeout 20
