[Desktop Entry]
Name=Chocolate Strife
Exec=chocolate-strife
Icon=chocolate-strife
Type=Application
Comment=Conservative source port
Categories=Game;ActionGame;
Keywords=first;person;shooter;doom;vanilla;
