[Desktop Entry]
Name=Python (v3.12)
Comment=Python Interpreter (v3.12)
Exec=/usr/bin/python3.12
Icon=/usr/share/pixmaps/python3.12.xpm
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
